.ibm-background-custom-blue{
  background-color: #0a0f15;
}

.stamp{
  background: #303030 !important;
  border-radius: 6px;
}

.time{
  width: 92% !important;
}

.text{
    height: 30px !important;
    width: 93% !important;
}

.text p span{
    float: left !important;
    margin-right: 8% !important;
    text-align: center !important;
    width: 17% !important;    
}

.time section{
    clear: both !important;
    font-family: "Lucida Console", Monaco, monospace !important;
    margin: 0 !important;
}
.time section span{
    display: block !important;
    float: left !important;
    margin-right: 7px;
    text-align: center !important;
    width: 8% !important;
}
.time section span.separate{
    display: block !important;
    float: left !important;
    width: 6% !important;
}

@media (max-width: 1030px) and (min-width: 1000px) {
  .time section span{
    margin-right: 2px;
  }
  .time section span.separate{
    width: 9% !important;
  }
}
@media (max-width: 873px) and (min-width: 580px) {
  .text p span{
    margin-right: 9% !important;
    width: 16% !important;
  }
}

@media (max-width: 579px) and (min-width: 385px) {
  .text p span{
    margin-right: 4% !important;
    width: 16% !important;
  }
}
@media (min-width: 1356px) {
  .text p span{
    margin-right: 7% !important;
  }
}

@media (max-width: 1000px) {
  .time{
    width: 100% !important;
  }
  .text{
    width: 100% !important;
  }
  #background{
    background: url('../image/leadspace-center.png') !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: bottom !important;
    background-color: #00060e !important;
  }
  .ibm-vertical-center{
    align-items: inherit !important;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .ibm-disrupt-background{
    background-position: 63% center !important;
  }
}

@media (max-width: 579px) {
  .time section span { 
    width: 6% !important; 
  }
  .ibm-padding-small{
    padding-left: 0 !important;
  }
  .text p span{
    margin-right: 7% !important;
  }
  .stamp { 
    border-radius: 3px !important;
    font-size: 1.25rem !important;
    line-height: 1.963rem !important;
  }
  .separate{
    font-size: 1.25rem !important;
    line-height: 1.963rem !important; 
  }
}